.Header {
  grid-area: h;
  background: url("../../img/header-background.jpg") no-repeat center center fixed;
}

.Header__container {
  max-width: 1140px;
  margin: auto;
}

.Header__title {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.H1 {
  padding-top: 10rem;
  font-size: 6rem;
}

.H2 {
  font-size: 1.75rem;
}