.Header {
	color: grey;
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	overflow: auto;
}

.Header1 {
	color: green;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	overflow: auto;
}
