header {
    background-color: white;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
      "header"
      "nav";
  
    align-content: center;
    justify-items: center;
  }
  header > h1 {
    font-size: calc(10px + 10vw);
    grid-area: header;
  }