
.nav {
    width: 100%;
    min-width: 300px;
    background-color: skyblue;
    position: fixed;
    top: 0;
    justify-content: space-evenly;
}

.nav__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__menu li {
    padding-left: 20px;
    padding-right: 20px;

}

.nav__menu a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #0c0233;
    text-decoration: none;
    /* -webkit-text-stroke: 2px #0c0233; */
}
