@import url('components/fonts.css');

@import url('components/navbar.css');
@import url('components/sections.css');

/* Sections */
@import url('components/sections/home.css');
@import url('components/sections/about-me.css');
@import url('components/sections/tech-skills.css');
@import url('components/sections/projects.css');
@import url('components/sections/contact-me.css');


body {
    position: relative;
}


.no-display {
    display: none;
}

.space-head 
{
    padding-top: 50px;
}

.inverse 
{
    color: white;
}

/* Hold Lines */
.hold-line-primary 
{
    margin: 0 auto;
    float: none;

    width: 300px;
    height: 3px;

    background-color: rgb(67, 168, 235);
}

.hold-line-default 
{
    margin: 0 auto;
    float: none;

    width: 250px;
    height: 3px;

    background-color: rgb(165, 165, 165);
}

/* Nav Styles */
.navbar
{
    background-color: rgb(21, 62, 119);
    border-color: rgb(21, 62, 119);
    border-radius: 0px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1em;
    color: white;
}
