.project-item > #set-header 
{
    padding-bottom: 20px;
}
#projects > .container-fluid 
{
    padding-left: 17%;
    padding-right: 17%;
}
.project-item 
{
    width:100%;
}


/* Carousel Config */
.carousel-control.left, .carousel-control.right
{
    background-image: none;
}