/* CSS for the project elements */
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.projects--buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.projects--buttons--general {
  box-sizing: border-box;
  border: none;
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  white-space: nowrap;
  text-decoration: none !important;
  cursor: pointer;
  background-image: linear-gradient(120deg, black, black 10%, rgb(68, 106, 228) 10%, rgb(68, 106, 228) 90%, black 90%, black);
  padding: 0 30px;
  margin: 10px 25px 0 0;
}

.projects--each {
  width: 225px;
  height: 225px;
  color: white;
  background-color: rgb(68, 106, 228);
  margin: 0 10px 25px 10px;
}