
.Carousel__items {
	display: flex;
	justify-content: center;
	align-items: center;
}


.List {
	margin: 30px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-top: 60px;
}

.List__item { 
  width: 6px;
  height: 6px;
  border-radius: 25px;
  background: gray;
  margin: 3px;
}

.List__item--selected { 
	width: 6px;
  height: 6px;
  border-radius: 25px;
  background: black;
  margin: 3px;
}

.Arrows {
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	padding: 0px 3px;
  border: 1px solid gray;
  opacity: 0.5;
  border-radius: 3px;
}

.Arrow--left {
	margin-right: 150px;
}

.Arrow--right {
	margin-left: 150px;
}

.Pages__images--deselected {
  display: none;
}

.List__item--deselected {
	display: none;
}