@import 'components/grid.css';
@import 'components/hamburger.css';
@import 'components/flyoutMenu.css';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    overflow: auto;
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

h1 {
    font-size: 8em;
    font-family: 'Cormorant', serif;
    white-space: nowrap;
}
.text-madness {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1fr;
    justify-items: center;
}
.hero {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    
    color: #ffffff;
}

.landing {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('Down the mountain-21.jpg');
    background-size: cover;
}
.about {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('0625171724b.jpg');
    background-size: cover; 
}
