@import './components/Nav/Nav.css';
@import './components/Header/Header.css';
@import './components/Section/Section.css';
@import './components/Box/Box.css';
@import './components/Nav/Nav.css';
@import './components/Body/Body.css';
@import './components/Footer/Footer.css';
@import './components/Tabs/Tabs.css';


body {
	min-width: 300px;
	background-image: url("img/background.jpg");
    background-repeat: repeat-y;
	background-size: cover;
}


