html, body {
    height: 100%;
    width: 100%;
    font-weight: 350;
    line-height: 1.5;
    top: 0px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    margin:auto; 
    position:absolute;
/*media queries, disable the background image to test the modes.when the window hits the speicified width, the background will change to the indicated color */  
}
  /* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: rgb(13, 29, 248);
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 600px) {
  body {
    background-color: rgb(204, 245, 57); 
  }
}

/* Desktop Styles */
@media only screen and (min-width: 601px) {
  body {
    background-color: rgb(220, 15, 247); 
  }
}  

  
  body {
    font-family: 'Lato', sans-serif;
    background-image: url('./images/50f0714d-355d-4139-9f09-ac7ed3cef3b5.jpg');
    background-position: center bottom;
    background-size: cover;
    margin: 0;
  }
  
  a {
    color: #204156;
    text-decoration: none;
  }
  
  .page-title {
    text-align: flex-start;
    font-weight: 300;
    margin: 20px;
  }
  
  .page-description {
    border: 1px solid rgb(224, 224, 205);
    margin: 2px;
    text-align: center;
    padding: 15px;
    background-color: rgb(252, 252, 247);
  }
  
  .gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item {
    margin: 20px;
  }
  
  .gallery-item .thumbnail {
    max-block-size: 180px;
    border: 5px solid rgb(173, 173, 153);
  }
  
  /*Header NAVIGATION */ 
  /* this was originally in the footer, but has been relocated to head section */ 
  nav {
    border: 3px solid rgb(224, 224, 205);
    /* background-image: url('./images/industry_electronic_header.jpg'); */
    background-color: transparent;
  }
  
  nav li {
    display: inline-flex;
    margin: 0;
    padding: 0 10px;
  }
  
  nav ul {
    display: inline-flex;
  }
  
  .contact-btn {
    float: right;
  }
  
  .contact-btn a {
    cursor: pointer;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #aeb5b9;
    position: relative;
    background-color: #FFF;
  }
  
  .contact-btn a:active {
    top: 2px;  /* make the button shift when its clicked */
  }
  
  nav a {
    height: 60px;
    line-height: 60px;
    color: #204156;
    text-decoration: none;
  }
  
  /* To do still:
   * create directories / links for project, home, about, contact.
   * add captions to the pictures 
   * make sure nav menu works 
   */
