.Navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
}

.Navbar__container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.Navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.Navbar__list li {
  padding-left: 4rem;
}

.Navbar__container a {
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}