.about {
    display: flex;
    flex-flow: wrap row;
    align-content: flex-start;
    width: 100%;
    white-space: wrap;
}

.about__header {
    background-color: black;
    color: rgb(190, 170, 170);
    height: fit-content;
    width: 100%;
    margin: 0.5%;
    padding: 0.5%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.about__content {
    display: flex;
    flex-flow: nowrap row;
    width: 100%;
    margin: 0.5%;
    padding: 0.5%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.about__img {
    padding: 0.5%;
    margin: 0.5%;
}

.about__description {
    padding: 0.5%;
    margin: 0.5%;
}