footer {
  width: 100%;
  height: 200px;
  background-color: #1d1d1d;
  display: flex;
}
.footer__half {
  min-width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}