.menu {
    position: fixed;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0;
    overflow: visible;
    cursor: pointer;
    margin: 30px;
    transition-property: transform;
    transition-duration: .5s;
    z-index: 100 !important;
}
.menu-lines {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 37px;
    vertical-align: middle;
}

.menu-lines span {
    position: absolute;
    display: block;
    height: 6px;
    width: 100%;
    background: black;
}

.menu-lines span:nth-child(1) {
    top: 0
}

.menu-lines span:nth-child(2) {
    top: 12px
}

.menu-lines span:nth-child(3) {
    top: 24px
}
#menu-btn:hover {
    cursor: pointer;
    transform: scale(1.5, 1.5);
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}