.Hero {
  background-image: url('../assets/images/Web.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.Hero__text {
 color: white;
 font-family: 'Lobster', Georgia, Times, serif;
 text-align: center;
 padding: 200px;
 
}

.Hero__text p {
  padding: 20px;
  font-size: 20px;
  font-family: 'Shrikhand', cursive;
}

.Hero__text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer:
}


