.Mouse__box {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    margin: 0;
    min-width: 0;
}
.Mouse {
    /* justify-self: start;
    align-self: center;
    min-width: 0;
    grid-row-start: 11;
    grid-column-start: 10; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width :34px;
    height: 55px;
    margin: auto;

}
.Mouse__box {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}
@media (max-width: 600px) {
    .mainTitle {
        font-size: 6rem !important;
    
    }
}

.Mouse-animation {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

.Mouse hide {
    display: none;
}
.Mouse show {
    display: block;
}