.main-menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: dimgray;
  list-style-type: none;
}

.main-menu .menu-element {
  padding: 5px 10px;
  float: left;
}
.menu-element a {
  font-family: sans-serif;
  color: white;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
}
.main-menu .menu-element:hover {
  background-color: black;
}