nav {
  background: #333;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 3px;
  }

nav a:hover {
  background-color: #555;
  
  }

/* Media Queries - flex styles - Navigation */

@media(min-width: 600px) {
  nav ul {
    display: flex;
    
  }

  nav li {
    flex: 1 1 0;
    
  }
}