.Section__aboutMe {
  background: #4484ce;
  color: white;
}

.Section__content--aboutMe img {
  width: 15%;
  height: 15%;
  border-radius: 10px;
}

.Section__content--aboutMe {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.Section__bio {
  width: 40%;
  font-family: "Times New Roman", Times, serif;
}

.Section__bio p {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}