.Section {
  display: flex;
  text-align: center;
}

.Section h1 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 70px;
	line-height: 100px;
}

.Section p {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 17px;
  line-height: 25px;
  text-justify: inter-word; 
}
