.section {
  display: flex;
  justify-content: center;
 color: white;
 font-size: 18px;
 margin: 20px;
 font-family: Helvetica, Arial, sans-serif;
 text-align: justify;
 text-justify: inter-word;
  
}



