.SlantedDiv--Orange {
  position: relative;
  width: 100%;
  height: 400px;
  background: #ffc728;
  box-sizing: border-box;
  padding: 30px;
}

.SlantedDiv--Orange:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform-origin: top left;
  transform: skewY(8deg);
}

.SlantedDiv--Skyblue {
  position: relative;
  width: 100%;
  height: 400px;
  background: skyblue;
}

.SlantedDiv--Skyblue:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform-origin: top right;
  transform: skewY(-8deg);
}
