.Project {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.Projects__item {
  display: none;
}

.Projects__item--focused {
  display: inline-block;
}

.Projects__content {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Projects__items {
  display: block;
  border: 1px solid black;
}