.Box__title {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 15px;
}

.Box--console {
	font-family:Courier;
	color: #CCCCCC;
	background: #000000;
	border: 3px double #CCCCCC;
	padding: 10px;
}
