/* .Box__title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px; 
}*/
.Box-text {
	color: rgb(255, 247, 247);
}

.BoxL {	
    padding: 2em;
	margin: 20px auto;
	float: left;
  }	
.BoxR {	
    padding: 2em;
	margin: 20px auto;
	float: right;
  }	

.Box--bg1 {
    box-sizing: border-box;
	background-image: url("supernova.jpg");
}
.Box--bg2 {
    box-sizing: border-box;
	background-image: url("nebula.jpg");
}
.Box--bg3 {
    box-sizing: border-box;
    background-image: url("galaxy.jpg");
}