.footer {
  color: #fff;
  background-color: #000;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer--content {
  display: flex;
  align-self: center;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
}
