.Grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between;
  align-content: space-between; */
}
.Grid__item {
  position: relative;
  width: calc(100% / 3);
  text-align: center;
}
.Grid__content {
  padding: 20px;
}
.Grid__image {
  box-shadow: 0px 14px 0px -7px rgba(0, 0, 0, 0.05);
  margin-bottom: 35px;
}
.Grid__image img {
  display: block;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}



@media (max-width: 640px) {
  .Grid {
    justify-content: center;
  }
  .Grid__item {
    width: 90%;
    margin: 15px 0px 35px 0px;
  }
}