.Section {
  position: relative;
  max-width: 1000px;
  margin: 0px auto;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.Section--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Section--split {
  display: flex;
  flex-wrap: wrap;
}
.Section--bg-f5f5f5 {
  background-color: #f5f5f5;
}

.Section__box {
  display: flex;
  width: 50%;
}
.Section__content {
  position: relative;
  padding: 50px;
}

.Section--bgImage {
  min-height: 300px;
  background-image: url("../images/photo_two.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Section__transbg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+75&0+0,1+75 */
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.Section__profileThumb {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.35);
  margin: 0px auto;
  background-image: url("../images/profile.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Section__fullName {
  width: 100%;
  text-align: center;
  color: #1976d2;
  font-size: 32px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  padding: 0px 0px 3px 0px;
}
.Section__userRole {
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  padding: 0px 0px 50px 0px;
}

.Section__title {
  color: #1976D2;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}
.Section__paragraph {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 24px;
}


.Section__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.Section__gridItem {
  position: relative;
  width: 30%;
  text-align: center;
}
.Section__gridItem img {
  width: 100%;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .Section__box {
    width: 100%;
  }
  .Section__title {
    text-align: center;
  }
  .Section__grid {
    justify-content: center;
  }
  .Section__gridItem {
    width: 90%;
    margin: 15px 0px 35px 0px;
  }
}