.hidden {
  display: none;
}

.navbar {
  margin-bottom: 100px;
  background-color: azure;
}

.links {
  display: flex;
  justify-content: space-around;
}

.content__pages {
  /* display: flex; */
}

.content__page__inner {
  display: flex;
  justify-content: space-around;
}

.about__left {
}

.profile__pic {
  width: 300px;
}

.about__right {
  align-self: center;
}

body {
  font-family: Courier New, Courier, monospace;
  font-weight: 800;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
}

a:visited {
}
