.Section--about {
  grid-area: a;
  background: #fafafa;
}

.Section--contact {
  grid-area: c;
  background: #f2f2f2;
}

.Section--header {
  grid-area: h;
  background: url("../../img/header-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.Section--projects {
  grid-area: p;
  background: #fafafa;
}

.Section--skills {
  grid-area: s;
  background: #f2f2f2;
}

.Section__container {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.Section__title {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
}