.section {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: auto;
  margin: 0;
}

#splashPage {
  background-image: url(../images/oxfordnewcollege.jpg);
  background-repeat: no-repeat;
}

.section__image {
  border: 5px solid black;
  border-radius: 50%;
  max-width: 250px;
}
