/* CSS for the section elements */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(106, 139, 248);
  font-size: 66px;
}

.header--subHeader {
  font-size: 30px;
  padding: 0;
}