.Header {
  grid-area: h;
  background: url("../../img/header-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, Helvetica, sans-serif;
}

.Header__container {
  max-width: 1140px;
  margin: auto;
}

.Header h1 {
  padding-top: 5rem;
  font-size: 6rem;
}

.Header h2 {
  font-size: 1.75rem;
}