.nav {
  background: linear-gradient(to bottom, #693465 0%, #1e1e46 20%, #0c0019 100%);;
  position: fixed;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 0;
}
/* Nav Buttons */
.nav__ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0; 
  padding: 30px 0 0 0;
}

.nav__li {
  padding: 10px 15px 15px 25px;
}
.nav__li a {
  font-family: sans-serif;
  font-size: 1.1em;  
  color: white;
  text-decoration: none;
}

.nav__li:hover {
  background: #0c0019;
  transition: background 1s ease-out;
  outline: 1px solid rgba(227, 23, 219, 0.5);
}
/* End Nav Buttons */

.nav-trigger {
  position: fixed;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 7px;
}
label[for="nav-trigger"]:hover {
  box-shadow: 0 0 10px 5px rgba(227, 23, 219, 0.5);
  transition: box-shadow 0.3s ease-out;
}

label[for="nav-trigger"] span {
  margin: 5px;
  width: 33px;
  height: 4px;
  background: white;
  border-radius: 3px;
  background-size: contain;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  transition: left 0.5s ease-out;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
.nav-trigger:checked ~ label[for="nav-trigger"] {
  left: 215px;
  transition: left 0.5s ease-out;
}