/* CSS for the navigation elements */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: 32px;
}

.nav__ul {
  display: flex;
  width: 27rem;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__li {
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
  padding: 6px 10px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  color: white;
  background-color: rgb(68, 106, 228);
  margin: 0;
  white-space: nowrap;
  text-decoration: none !important;
  cursor: pointer;
}

.nav__li a {
  color: white;
  text-decoration: none;
}

.nav__li:hover {
  font-weight: 500;
  background-color: rgb(3, 12, 105);
  transition-duration: .3s;
}