.nav {
    width: 700px;
    /* background-color: #2E3192; */
    background: #232323;
    /* Begin Always Ontop Implementation */
    position: fixed;
    top: 0px;
    justify-content: space-evenly;
    /* End Always Ontop Implementation*/
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.nav__list li, a {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.nav__list a:hover {
    -webkit-text-fill-color: rgb(175, 175, 175);
}

.nav__list img {
    width: 25px;
    height: 25px;
    float: left;
}

.nav__list img:hover {
    opacity: 0.5;
}

@media (max-width: 630px) {
    .nav {
        width: auto;
    }
}