@import './Js/tabs.js';
html, body {

    height: 100%;
    width: 100%;
    font-weight: 350;
    line-height: 1.5;
    top: 0px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    margin:auto; 
    position:absolute;
}
  /* Mobile Styles */
  @media only screen and (min-width: 150px) and (max-width: 400px)  {
    body {
      background-color: rgb(13, 29, 248);
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 600px) {
    body {
      background-color: rgb(204, 245, 57); 
    }
  }
  
  /* Desktop Styles
  @media only screen and (min-width: 601px) {
    body {
      background-color: rgb(220, 15, 247); 
    }
  }       */

body {
    font-family: 'Lato', sans-serif;
    background-position: center bottom;
    background-size: cover;
    margin: 0;
}

.page-title {
    text-align: flex-start;
    font-weight: 300;
    margin: 20px;
  }
nav {
    border: 3px solid rgb(224, 224, 205);
    /* background-image: url('./images/industry_electronic_header.jpg'); */
    background-color: transparent;
 }
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: rgb(179, 177, 177);   
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item {
    margin: 20px;
  }
  
  .gallery-item .thumbnail {
    cursor: pointer;
    max-block-size: 180px;
    border: 5px solid rgb(173, 173, 153);
  }
  .bottom-bar{
    border: 1px solid rgb(224, 224, 205);
    margin: 2px;
    text-align: center;
    padding: 15px;
    background-color: rgb(252, 252, 247);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .contact-btn {
    float: left;
  }
  
  .contact-btn a {
    cursor: pointer;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #aeb5b9;
    position: relative;
    background-color: #FFF;
  }
  
  .contact-btn a:active {
    top: 2px;  /* make the button shift when its clicked */
  }
  
  nav a {
    height: 60px;
    line-height: 60px;
    color: #204156;
    text-decoration: none;
  }