@import './Js/tabs.js';
html, body {

    height: 100%;
    width: 100%;
    font-weight: 350;
    line-height: 1.5;
    top: 0px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    margin:auto; 
    position:absolute;
}
  /* Mobile Styles */
  @media only screen and (min-width: 150px) and (max-width: 400px)  {
    body {
      background-color: rgb(13, 29, 248);
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 600px) {
    body {
      background-color: rgb(204, 245, 57); 
    }
  }
  
  /* Desktop Styles
  @media only screen and (min-width: 601px) {
    body {
      background-color: rgb(220, 15, 247); 
    }
  }       */

body {
    font-family: 'Lato', sans-serif;
    background-position: center bottom;
    background-size: cover;
    margin: 0;
}

.page-title {
    text-align: flex-start;
    font-weight: 300;
    margin: 20px;
  }
nav {
    border: 3px solid rgb(224, 224, 205);
    /* background-image: url('./images/industry_electronic_header.jpg'); */
    background-color: transparent;
 }
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: rgb(179, 177, 177);   
}


.gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item {
    margin: 20px;
  }
  
  .gallery-item .thumbnail {
    cursor: pointer;
    max-block-size: 180px;
    border: 5px solid rgb(173, 173, 153);
  }
  .bottom-bar{
    border: 2.5px solid rgb(211, 211, 198);
    margin: 2px;
    text-align: center;
    padding: 15px;
    background-color: rgb(252, 252, 247);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .contact-btn {
    float: center;
  }
  
  .contact-btn a {
    cursor: pointer;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #aeb5b9;
    position: relative;
    background-color: rgb(223, 221, 221);
  }
  
  .contact-btn a:active {
    top: 2px;  /* make the button shift when its clicked */
  }
  
  nav a {
    height: 60px;
    line-height: 60px;
    color: #204156;
    text-decoration: none;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

